.uc_toolbar {
	padding:10px; 
	display:flex; 
	flex-direction:row; 
	justify-content:space-between;  
	align-items:center;
}

.uc_toolbarsticky {
	padding:10px; 
	display:flex; 
	flex-direction:row; 
	justify-content:space-between;  
	align-items:center;
	position:sticky; 
	top:40px; 
	background-color: var(--uc_body-background) !important;
	z-index:11;
}

