

.uc_helpcontrol			{background-color:lightgray; padding:5px; border-radius:5px; width:200px;}
.uc_helpcard			{background-color:lightgray; border: 1px solid var(--uc_border-cor); padding:10px; width:auto;}
